In [4]:
import json
from collections import Counter
prefix_freq=Counter()
affix_freq=Counter()    
suffix_freq=Counter()

with open('etym.entries.v1.format.json' , 'r') as reader:
    jf = json.loads(reader.read())

for i in range(jf['count']):
    for w in jf['results'][i]['foreigns']:
        if len(w)>1:
            if w[0]!='*' :
                    if w[0]=='-' and w[-1]!='-' :
                        suffix_freq[w[1:]]+= 1
                    elif w[0]!='-' and w[-1]=='-' :
                        prefix_freq[w[:-1]] += 1
                    elif(w[0]!='-' and w[-1]!='-'):
                        affix_freq[w] += 1

for i in range(jf['count']):
    for w in jf['results'][i]['cross-references']:
        if '*' not in w :
            if len(w)>1:
                if w[0]=='-' and w[-1]!='-' :
                    suffix_freq[w[1:]]+= 1
                elif w[-1]=='-' and w[0]!='-' :
                    prefix_freq[w[:-1]] += 1
                elif(w[0]!='-' and w[-1]!='-'):
                    affix_freq[w] += 1

In [5]:
def segment(word):
	# TODO: split a word into pieces
    spilt_list=[]
    for i in range(len(word)):
        for j in range(len(word)):
            if j>=i and i >0:
                spilt_list.append((word[:i],word[i:j],word[j:]))
    
    return spilt_list
word_list=segment('international')
for i in word_list:
    print(i)

('i', '', 'nternational')
('i', 'n', 'ternational')
('i', 'nt', 'ernational')
('i', 'nte', 'rnational')
('i', 'nter', 'national')
('i', 'ntern', 'ational')
('i', 'nterna', 'tional')
('i', 'nternat', 'ional')
('i', 'nternati', 'onal')
('i', 'nternatio', 'nal')
('i', 'nternation', 'al')
('i', 'nternationa', 'l')
('in', '', 'ternational')
('in', 't', 'ernational')
('in', 'te', 'rnational')
('in', 'ter', 'national')
('in', 'tern', 'ational')
('in', 'terna', 'tional')
('in', 'ternat', 'ional')
('in', 'ternati', 'onal')
('in', 'ternatio', 'nal')
('in', 'ternation', 'al')
('in', 'ternationa', 'l')
('int', '', 'ernational')
('int', 'e', 'rnational')
('int', 'er', 'national')
('int', 'ern', 'ational')
('int', 'erna', 'tional')
('int', 'ernat', 'ional')
('int', 'ernati', 'onal')
('int', 'ernatio', 'nal')
('int', 'ernation', 'al')
('int', 'ernationa', 'l')
('inte', '', 'rnational')
('inte', 'r', 'national')
('inte', 'rn', 'ational')
('inte', 'rna', 'tional')
('inte', 'rnat', 'ional')
('inte', 'rnati', 'onal')
('inte', 'rnatio', 'nal')
('inte', 'rnation', 'al')
('inte', 'rnationa', 'l')
('inter', '', 'national')
('inter', 'n', 'ational')
('inter', 'na', 'tional')
('inter', 'nat', 'ional')
('inter', 'nati', 'onal')
('inter', 'natio', 'nal')
('inter', 'nation', 'al')
('inter', 'nationa', 'l')
('intern', '', 'ational')
('intern', 'a', 'tional')
('intern', 'at', 'ional')
('intern', 'ati', 'onal')
('intern', 'atio', 'nal')
('intern', 'ation', 'al')
('intern', 'ationa', 'l')
('interna', '', 'tional')
('interna', 't', 'ional')
('interna', 'ti', 'onal')
('interna', 'tio', 'nal')
('interna', 'tion', 'al')
('interna', 'tiona', 'l')
('internat', '', 'ional')
('internat', 'i', 'onal')
('internat', 'io', 'nal')
('internat', 'ion', 'al')
('internat', 'iona', 'l')
('internati', '', 'onal')
('internati', 'o', 'nal')
('internati', 'on', 'al')
('internati', 'ona', 'l')
('internatio', '', 'nal')
('internatio', 'n', 'al')
('internatio', 'na', 'l')
('internation', '', 'al')
('internation', 'a', 'l')
('internationa', '', 'l')

In [7]:
import math


def Calculation(spilt_list):
    new_list=[]
    prefix_sum=sum(prefix_freq.values())
    affix_sum=sum(affix_freq.values())
    suffix_sum=sum(suffix_freq.values())
    for item in spilt_list:
        pre_text=item[0]
        aff_text=item[1]
        suf_text=item[2]
        p1=prefix_freq[pre_text]/prefix_sum
        p2=affix_freq[aff_text]/affix_sum
        p3=suffix_freq[suf_text]/suffix_sum
        if p1==0:
            p1=1/(prefix_sum*10**len(pre_text))
        if p2==0:
            p2=1/(affix_sum*10**len(aff_text))
        if p3==0:
            p3=1/(suffix_sum*10**len(suf_text))

        if(aff_text)=='':
            ans=math.log(p1)+math.log(p3)
        else:
            ans=math.log(p1)+math.log(p2)+math.log(p3)
        new_list.append((item,round(ans,3)))
    return new_list

In [9]:
ansList=Calculation(word_list)
ansList.sort(key=lambda tup: tup[1] , reverse=True)
ansList

[(('inter', 'nation', 'al'), -18.337),
 (('inter', '', 'national'), -32.203),
 (('inter', 'natio', 'nal'), -32.952),
 (('inter', 'nati', 'onal'), -35.255),
 (('in', '', 'ternational'), -37.053),
 (('inter', 'na', 'tional'), -37.462),
 (('inter', 'nat', 'ional'), -37.557),
 (('in', 'terna', 'tional'), -37.803),
 (('internation', '', 'al'), -37.872),
 (('in', 'ternation', 'al'), -38.613),
 (('internat', 'ion', 'al'), -40.924),
 (('internati', 'on', 'al'), -41.281),
 (('in', 'ter', 'national'), -41.309),
 (('inter', 'nationa', 'l'), -42.162),
 (('in', 'te', 'rnational'), -43.101),
 (('inter', 'n', 'ational'), -44.465),
 (('i', '', 'nternational'), -44.886),
 (('internationa', '', 'l'), -46.273),
 (('i', 'nternation', 'al'), -46.446),
 (('in', 'ternationa', 'l'), -47.013),
 (('int', '', 'ernational'), -48.575),
 (('inte', '', 'rnational'), -48.575),
 (('intern', '', 'ational'), -48.575),
 (('interna', '', 'tional'), -48.575),
 (('internat', '', 'ional'), -48.575),
 (('internati', '', 'onal'), -48.575),
 (('internatio', '', 'nal'), -48.575),
 (('in', 't', 'ernational'), -49.316),
 (('in', 'tern', 'ational'), -49.316),
 (('in', 'ternat', 'ional'), -49.316),
 (('in', 'ternati', 'onal'), -49.316),
 (('in', 'ternatio', 'nal'), -49.316),
 (('int', 'ernation', 'al'), -50.134),
 (('inte', 'rnation', 'al'), -50.134),
 (('intern', 'ation', 'al'), -50.134),
 (('interna', 'tion', 'al'), -50.134),
 (('internatio', 'n', 'al'), -50.134),
 (('internatio', 'na', 'l'), -51.532),
 (('int', 'ern', 'ational'), -53.237),
 (('intern', 'at', 'ional'), -53.237),
 (('int', 'er', 'national'), -54.623),
 (('interna', 'ti', 'onal'), -54.623),
 (('i', 'nternationa', 'l'), -54.846),
 (('i', 'n', 'ternational'), -57.149),
 (('i', 'nt', 'ernational'), -57.149),
 (('i', 'nte', 'rnational'), -57.149),
 (('i', 'nter', 'national'), -57.149),
 (('i', 'ntern', 'ational'), -57.149),
 (('i', 'nterna', 'tional'), -57.149),
 (('i', 'nternat', 'ional'), -57.149),
 (('i', 'nternati', 'onal'), -57.149),
 (('i', 'nternatio', 'nal'), -57.149),
 (('int', 'ernationa', 'l'), -58.535),
 (('inte', 'rnationa', 'l'), -58.535),
 (('intern', 'ationa', 'l'), -58.535),
 (('interna', 'tiona', 'l'), -58.535),
 (('internat', 'iona', 'l'), -58.535),
 (('internati', 'ona', 'l'), -58.535),
 (('internation', 'a', 'l'), -58.535),
 (('int', 'e', 'rnational'), -60.838),
 (('int', 'erna', 'tional'), -60.838),
 (('int', 'ernat', 'ional'), -60.838),
 (('int', 'ernati', 'onal'), -60.838),
 (('int', 'ernatio', 'nal'), -60.838),
 (('inte', 'r', 'national'), -60.838),
 (('inte', 'rn', 'ational'), -60.838),
 (('inte', 'rna', 'tional'), -60.838),
 (('inte', 'rnat', 'ional'), -60.838),
 (('inte', 'rnati', 'onal'), -60.838),
 (('inte', 'rnatio', 'nal'), -60.838),
 (('intern', 'a', 'tional'), -60.838),
 (('intern', 'ati', 'onal'), -60.838),
 (('intern', 'atio', 'nal'), -60.838),
 (('interna', 't', 'ional'), -60.838),
 (('interna', 'tio', 'nal'), -60.838),
 (('internat', 'i', 'onal'), -60.838),
 (('internat', 'io', 'nal'), -60.838),
 (('internati', 'o', 'nal'), -60.838)]

In [81]:
scholarship=segment('scholarship')

ansList=Calculation(scholarship)
ansList.sort(key=lambda tup: tup[1] , reverse=True)
ansList

[(('scholar', '', 'ship'), -30.649),
 (('sch', 'olar', 'ship'), -34.394),
 (('sch', '', 'olarship'), -35.453),
 (('scho', 'lar', 'ship'), -36.004),
 (('schol', 'ar', 'ship'), -36.109),
 (('sc', 'holar', 'ship'), -36.36),
 (('sc', '', 'holarship'), -37.419),
 (('s', 'cholar', 'ship'), -38.412),
 (('s', '', 'cholarship'), -39.47),
 (('sc', 'hola', 'rship'), -40.471),
 (('sc', 'hol', 'arship'), -40.828),
 (('s', 'chol', 'arship'), -41.829),
 (('schola', 'r', 'ship'), -42.911),
 (('scho', '', 'larship'), -43.97),
 (('schol', '', 'arship'), -43.97),
 (('schola', '', 'rship'), -43.97),
 (('scholars', '', 'hip'), -43.97),
 (('scholarsh', '', 'ip'), -43.97),
 (('scholarshi', '', 'p'), -43.97),
 (('sc', 'ho', 'larship'), -43.978),
 (('s', 'cho', 'larship'), -44.132),
 (('s', 'ch', 'olarship'), -46.434),
 (('schol', 'ars', 'hip'), -47.022),
 (('sch', 'o', 'larship'), -47.715),
 (('sch', 'ol', 'arship'), -47.715),
 (('sch', 'ola', 'rship'), -47.715),
 (('sch', 'olars', 'hip'), -47.715),
 (('sch', 'olarsh', 'ip'), -47.715),
 (('sch', 'olarshi', 'p'), -47.715),
 (('scholar', 'shi', 'p'), -48.226),
 (('scho', 'la', 'rship'), -49.43),
 (('sc', 'h', 'olarship'), -49.681),
 (('sc', 'holars', 'hip'), -49.681),
 (('sc', 'holarsh', 'ip'), -49.681),
 (('sc', 'holarshi', 'p'), -49.681),
 (('scholars', 'hi', 'p'), -50.529),
 (('scholar', 'sh', 'ip'), -51.627),
 (('s', 'c', 'holarship'), -51.733),
 (('s', 'chola', 'rship'), -51.733),
 (('s', 'cholars', 'hip'), -51.733),
 (('s', 'cholarsh', 'ip'), -51.733),
 (('s', 'cholarshi', 'p'), -51.733),
 (('scho', 'l', 'arship'), -56.233),
 (('scho', 'lars', 'hip'), -56.233),
 (('scho', 'larsh', 'ip'), -56.233),
 (('scho', 'larshi', 'p'), -56.233),
 (('schol', 'a', 'rship'), -56.233),
 (('schol', 'arsh', 'ip'), -56.233),
 (('schol', 'arshi', 'p'), -56.233),
 (('schola', 'rs', 'hip'), -56.233),
 (('schola', 'rsh', 'ip'), -56.233),
 (('schola', 'rshi', 'p'), -56.233),
 (('scholar', 's', 'hip'), -56.233),
 (('scholars', 'h', 'ip'), -56.233),
 (('scholarsh', 'i', 'p'), -56.233)]

In [80]:
university=segment('university')

ansList=Calculation(university)
ansList.sort(key=lambda tup: tup[1] , reverse=True)
ansList

[(('uni', 'vers', 'ity'), -21.333),
 (('univers', '', 'ity'), -29.283),
 (('un', 'ivers', 'ity'), -30.305),
 (('un', '', 'iversity'), -30.426),
 (('uni', '', 'versity'), -31.764),
 (('universit', '', 'y'), -32.899),
 (('un', 'iversit', 'y'), -33.92),
 (('universi', '', 'ty'), -34.423),
 (('uni', 'ver', 'sity'), -34.816),
 (('uni', 'versit', 'y'), -35.258),
 (('un', 'iversi', 'ty'), -35.445),
 (('univer', 'sit', 'y'), -35.856),
 (('uni', 'versi', 'ty'), -36.782),
 (('univers', 'it', 'y'), -37.917),
 (('u', 'nivers', 'ity'), -38.55),
 (('u', '', 'niversity'), -38.672),
 (('uni', 've', 'rsity'), -39.421),
 (('univer', 'si', 'ty'), -39.683),
 (('univ', 'ers', 'ity'), -41.546),
 (('unive', 'rs', 'ity'), -41.546),
 (('univer', 's', 'ity'), -41.546),
 (('univ', '', 'ersity'), -41.668),
 (('unive', '', 'rsity'), -41.668),
 (('univer', '', 'sity'), -41.668),
 (('u', 'niversit', 'y'), -42.165),
 (('un', 'i', 'versity'), -42.689),
 (('un', 'iv', 'ersity'), -42.689),
 (('un', 'ive', 'rsity'), -42.689),
 (('un', 'iver', 'sity'), -42.689),
 (('u', 'niversi', 'ty'), -43.69),
 (('uni', 'v', 'ersity'), -44.026),
 (('u', 'ni', 'versity'), -44.132),
 (('univ', 'ersit', 'y'), -45.161),
 (('unive', 'rsit', 'y'), -45.161),
 (('universi', 't', 'y'), -45.161),
 (('univ', 'ersi', 'ty'), -46.686),
 (('unive', 'rsi', 'ty'), -46.686),
 (('univers', 'i', 'ty'), -46.686),
 (('univ', 'er', 'sity'), -47.715),
 (('u', 'n', 'iversity'), -50.934),
 (('u', 'niv', 'ersity'), -50.934),
 (('u', 'nive', 'rsity'), -50.934),
 (('u', 'niver', 'sity'), -50.934),
 (('univ', 'e', 'rsity'), -53.93),
 (('unive', 'r', 'sity'), -53.93)]

In [79]:
education=segment('education')

ansList=Calculation(education)
ansList.sort(key=lambda tup: tup[1] , reverse=True)
ansList

[(('educat', '', 'ion'), -16.003),
 (('e', 'duc', 'ation'), -23.011),
 (('educ', '', 'ation'), -23.647),
 (('e', 'ducat', 'ion'), -24.576),
 (('educat', 'i', 'on'), -29.949),
 (('educa', '', 'tion'), -30.155),
 (('ed', 'uc', 'ation'), -31.305),
 (('educati', '', 'on'), -31.502),
 (('edu', 'cat', 'ion'), -31.676),
 (('educat', 'io', 'n'), -32.737),
 (('e', '', 'ducation'), -33.373),
 (('educatio', '', 'n'), -34.29),
 (('educ', 'at', 'ion'), -34.48),
 (('ed', '', 'ucation'), -34.76),
 (('edu', 'c', 'ation'), -35.91),
 (('e', 'duca', 'tion'), -36.426),
 (('ed', 'ucat', 'ion'), -37.475),
 (('educa', 'ti', 'on'), -37.549),
 (('e', 'ducati', 'on'), -37.773),
 (('ed', 'uca', 'tion'), -37.812),
 (('ed', 'ucati', 'on'), -39.159),
 (('edu', '', 'cation'), -39.365),
 (('e', 'du', 'cation'), -39.644),
 (('e', 'ducatio', 'n'), -40.561),
 (('ed', 'ucatio', 'n'), -41.947),
 (('educa', 't', 'ion'), -42.081),
 (('edu', 'ca', 'tion'), -42.417),
 (('educ', 'a', 'tion'), -42.417),
 (('edu', 'cati', 'on'), -43.764),
 (('educ', 'ati', 'on'), -43.764),
 (('e', 'd', 'ucation'), -45.636),
 (('edu', 'catio', 'n'), -46.552),
 (('educ', 'atio', 'n'), -46.552),
 (('educa', 'tio', 'n'), -46.552),
 (('educati', 'o', 'n'), -46.552),
 (('ed', 'u', 'cation'), -47.022)]

In [78]:
programme=segment('programme')

ansList=Calculation(programme)
ansList.sort(key=lambda tup: tup[1] , reverse=True)
ansList

[(('pro', '', 'gramme'), -13.7),
 (('pro', 'gramm', 'e'), -23.129),
 (('pro', 'gram', 'me'), -24.171),
 (('p', 'ro', 'gramme'), -28.132),
 (('pro', 'gra', 'mme'), -32.87),
 (('pr', 'o', 'gramme'), -33.207),
 (('programm', '', 'e'), -34.229),
 (('p', '', 'rogramme'), -34.29),
 (('pr', '', 'ogramme'), -34.76),
 (('program', '', 'me'), -34.76),
 (('prog', 'ramm', 'e'), -37.281),
 (('prog', 'ram', 'me'), -38.035),
 (('p', 'rog', 'ramme'), -38.951),
 (('prog', '', 'ramme'), -39.365),
 (('progr', '', 'amme'), -39.365),
 (('progra', '', 'mme'), -39.365),
 (('pro', 'g', 'ramme'), -39.778),
 (('pro', 'gr', 'amme'), -39.778),
 (('progr', 'am', 'me'), -40.625),
 (('p', 'rogramm', 'e'), -41.416),
 (('pr', 'ogramm', 'e'), -41.886),
 (('p', 'rogram', 'me'), -41.947),
 (('pr', 'og', 'ramme'), -42.417),
 (('pr', 'ogram', 'me'), -42.417),
 (('prog', 'ra', 'mme'), -45.924),
 (('progr', 'amm', 'e'), -46.492),
 (('progra', 'mm', 'e'), -46.492),
 (('program', 'm', 'e'), -46.492),
 (('p', 'r', 'ogramme'), -46.552),
 (('p', 'rogr', 'amme'), -46.552),
 (('p', 'rogra', 'mme'), -46.552),
 (('pr', 'ogr', 'amme'), -47.022),
 (('pr', 'ogra', 'mme'), -47.022),
 (('progra', 'm', 'me'), -47.022),
 (('prog', 'r', 'amme'), -51.627),
 (('progr', 'a', 'mme'), -51.627)]

In [82]:
affix_freq.most_common(15)

[('com', 352),
 ('ex', 267),
 ('ad', 265),
 ('de', 189),
 ('man', 185),
 ('facere', 162),
 ('up', 150),
 ('in', 132),
 ('pro', 119),
 ('out', 114),
 ('per', 113),
 ('head', 96),
 ('back', 93),
 ('sub', 84),
 ('ab', 83)]